body {
    /*since default html has a margin, we need to set it to zero*/
    margin: 0;
    background-size: cover;

}
.searchBar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}


.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease-in-out 0.3s;
}

.carousel div {
    margin: 0 5px;
    width: 130px;
    height: 95px;
    border-radius: 10px;
    background-size: cover;
    border: 1px solid rgba(200, 200, 200, 0.3);
    transition: all ease-in-out 0.3s;
    opacity: 0.8
}

.carousel div:hover {
    /* if delete the following line, pic will be covered by the right picture*/
    z-index: 2;
    transform: scale(1.2) translateY(-20px);
    transition: all ease-in-out 0.3s;
    opacity: 1;
    cursor: pointer;
}

.carousel:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all ease-in-out 0.3s;
}

.imgContainer {
    width: 130px;
    height: 95px;
}

#inputCity {
    border: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0.6;
    transition: all ease-in-out 0.3s;
    color: black;
    outline: 1px solid grey;
}

/*sodo class*/
#inputCity:focus {
    outline: 1px solid #6e6e6e;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    transition: all ease-in-out 0.3s;
}


#inputCity:hover {
    outline: 1px solid #6e6e6e;
    opacity: 1;
    transition: all ease-in-out 0.3s;
}
b
